@{
    ViewData["Title"] = "Dashboard";
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Welcome to the Dashboard</h2>
<p>You are logged in!</p>

<a href="/User/Logout">Logout</a>
